html, body {
    height: 100%;
    width: 100%;
    position: relative;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    text-rendering: optimizeLegibility;
}

/*

    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans', sans-serif;

*/

#webscroll-container {
    position: fixed;
    top: 50%;
    right: 100px;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 100px;
    height: 400px;

    &:hover {

        #webscroll-sections {
            .webscroll-section {
                opacity: 0.5;
                padding-left: 10px;

                &.focused {
                    opacity: 1;
                    padding-left: 0px;
                }

                &:hover:not(.focused) {
                    opacity: 1;
                    padding-left: 5px;
                    border-right: 1px solid rgba(255,255,255,1);

                    &:before, &:after {
                        background-color: rgba(255,255,255,1);
                    }
                }
            }
        }
    }

    #webscroll-sections {

        .webscroll-section {
            transition: all 200ms;
            position: absolute;
            left: 0px;
            color: #FFF;
            opacity: 0;
            padding-left: 15px;
            box-sizing: border-box;
            cursor: pointer;
            width: 90px;
            border-right: 1px solid rgba(255,255,255,0);

            &.focused {
                border-right: 1px solid rgba(255,255,255,0.65);
                opacity: 0.35;

                &:before, &:after {
                    background-color: rgba(255,255,255,0.65);
                }
            }

            &:before, &:after {
                content: '';
                position: absolute;
                right: -5px;
                background-color: rgba(255,255,255,0);
                width: 5px;
                height: 1px;
                top: 0px;
            }
            &:after {
                top: auto;
                bottom: 0px;
            }
        }
    }

    #webscroll-scrollbar {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;

        #webscroll-track {
            position: relative;
            height: 100%;
            width: 1px;
            background-color: rgba(100, 100, 100, 0.9);
    
            #webscroll-thumb {
                position: absolute;
                top: 0px;
                right: -1px;
                border-radius: 3px;
                width: 3px;
                height: 30%;
                background-color: #EEE;
            }
        }

        &:hover {
            #webscroll-track {
    
                #webscroll-thumb {
                    right: -2px;
                    width: 5px;
                }
            }
        }
    }
}
//e3142f
$background-color: #e3142f;
$background-color-dark: darken($background-color, 14%);
//#a4081f
$glace-height: 200px;

.textblock {
    width: 626px;
    margin: 0 auto;

    p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
        color: #202124;
        cursor: auto;
        font-family: 'Roboto',Arial,Helvetica,sans-serif;
        font-size: 1em;
        font-style: normal;
        font-weight: 300;
        line-height: 1.444;
        padding: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        margin-bottom: 16px;

        .prettyimg {
            width: 150%;
            height: auto;
            margin: 0 -25%;
        }
    }
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

em { font-style: italic; }
strong { font-weight: bold; }

.left {float: left;}
.right {float: right;}
.clear-fix { clear: both; }

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;

    &.projectOpen {
        overflow: hidden;

        #webscroll-container {
            display: none;
        }
    }
}


#app {
    position: relative;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.65);
    transition: all 200ms;

    &:hover {
        border-bottom: 1px solid rgba(0,0,0,1);
    }
}

h1 {
    text-align: center;
    width: 100%;
    line-height: 1;
    font-size: 2.2vw;
    padding: 50px 0;
    box-sizing: border-box;
    font-weight: normal;
    text-transform: uppercase;
}

.section {
    position: relative;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;

    &.filler {
        height: 100vh;
        background-color: #DDD;
    }
}




.col {
    width: 100%;
    float: left;
}

@for $c from 1 through 20 {
    @for $i from 1 through $c {
        .col-#{$c}-#{$i} {
            max-width: percentage($i/$c);
        }
    }
}


.section.header {
    min-height: 100vh;
    //background-image: url('../images/israel.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    //background-color: #222;
    background-color: #1a66ff;
    overflow: hidden;

    &:after {
        display: none;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50%;
        height: 100%;
        background-color: hsl(122, 100%, 55%);
        mix-blend-mode: difference;
    }

    canvas {
        //mix-blend-mode: overlay;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #welcomeText {
        color: #FFF;
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 1;

        &.show {

            span {
                &:before {
                    left: 100%;
                    width: 0%;
                }
            }
        }

        h1 {
            padding: 0px;
            margin: 0px;
            font-weight: bold;
            text-align: center;
            pointer-events: none;
            opacity: 0;
            transform: translate3d(0, 50px, 0) scale(0.5);
            transition: all 350ms cubic-bezier(.02, .01, .47, 1);
            transition-delay: 250ms;

            font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
            font-size: 68px;
            letter-spacing: -1px;
            line-height: 1.2;
            -webkit-font-smoothing: antialiased;

            &>span.coord {
                display: inline-block;
                padding: 30px 30px;
            }

            &.visible {
                opacity: 1;
                transform: translate3d(0, 0px,0) scale(1);
            }

            span:before {
                transition-delay: 1500ms;
            }
        }

        .content {
            margin: 0 auto;
            //margin-top: 30px;
            opacity: 0;
            transition: all 250ms cubic-bezier(.02, .01, .47, 1);
            transition-delay: 1500ms;
            pointer-events: none;

            &.visible {
                opacity: .75;
            }

            p {
                //margin-top: 30px;
                box-sizing: border-box;
                padding: 15px 30px;
                text-align: center;
                width: 50%;
                font-size: 20px;
                line-height: 1.5;

                &.right {
                    color: #1a66ff;
                }
            }
        }
    }
}

#projects {
    background-color: #FFF;
    //width: 100vw;

    #featuredProjects {
        display: flex;
        max-width: 1060px;
        width: 100%;
        margin: 0 auto;
        
        &.projectOpen {

            .project {
                transform: scale(0.7);
                opacity: 0;
                pointer-events: none;
            }
        }

        .project {
            opacity: 1;
            pointer-events: all;
            width: 100%;
            position: relative;
            transition-delay: 400ms;
            transition: all 400ms;
            transform: scale(1);
            z-index: 0;
            margin: auto;
            cursor: pointer;
            padding-bottom: 110px;
            box-sizing: content-box;

            &.open {
                transform: scale(1);
                position: relative;
                opacity: 1;
                pointer-events: all;
                cursor: default;

                .header {
                    z-index: 10;
                    padding-bottom: 0%;
                    overflow-y: scroll;
                    height: 100vh;

                    .close {
                        opacity: 1;
                    }

                    .html {
                        transition-delay: 1.5s;
                        width: 100%;
                        z-index: 10;
                        opacity: 1;
                        top: 75%;
                        pointer-events: all;
                        box-shadow: 0 0 48px 20px rgba(0,0,0,0.25);
                    }

                    video {
                        z-index: 1;
                        opacity: 1;
                    }
                }
            }

            .header {
                top: 0px;
                left: 0px;
                width: 100%;
                height: 55vh;
                position: absolute;
                z-index: 1;
                background-size: cover;
                background-position: center;
                transition: all 500ms;
                overflow: hidden;

                .close {
                    opacity: 0;
                    transition-delay: 1.5s;
                    transition: all 400ms;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    line-height: 40px;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    z-index: 5;
                    background-color: #000;
                    color: #FFF;
                    cursor: pointer;
                    border: 4px solid #FFF;
                }

                .html {
                    background-color: #FFF;
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    transition: 500ms;
                    opacity: 0;
                    pointer-events: none;
                    z-index: 3;
                    padding: 0 50px;
                    transition-delay: 0ms;

                    .visitProject {
                        display: block;
                        width: 300px;
                        text-align: center;
                        line-height: 60px;
                        background-color: #000;
                        color: #FFF;
                        margin: 0 auto 30px auto;

                        &.bottom {
                            background-color: #FFF;
                            color: #000;
                        }
                    }
                }

                video {
                    pointer-events: none;
                    opacity: 0;
                    display: block;
                    position: absolute;
                    z-index: 1;
                    min-height: 100%;
                    min-width: 100%;
                    height: auto;
                    width: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            .container {
                padding: 55vh 15px 30px 15px;
                margin-top: 30px;
                box-sizing: border-box;
                position: relative;
                overflow: hidden;

                .bg {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 150%;
                    height: 150%;
                    background-image: url(bin/images/projects/sotare.jpg);
                    transform: translate(-50%, -50%);
                    background-size: cover;
                    background-position: center bottom;
                    filter: blur(40px);
                    background-color: #eee;
                    background-blend-mode: color;
                    z-index: -1;
                }

                .title {
                    font-weight: 500;
                    font-size: 22px;
                    letter-spacing: 0;
                    line-height: 30px;
                }
                .tags {
                    white-space: nowrap;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 26px;
                    font-weight: 300;
                }
            }

            &:hover {
                transform: scale(1);
                z-index: 1;
            }
        }
    }
}

#about {
    box-sizing: border-box;

    .textblock {

    }
}